* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-gradient: linear-gradient(to right, #da3068, #14469f);
}

/* ///////////////////////////////////// header ///////////////////////////////////// */

.portfolio-title {
  cursor: default;
  font-size: 30px;
  font-weight: 600;
}

.header-button {
  transition: 0.5s !important;
}

.header-item {
  margin: 0 20px;
}

.header-icon {
  position: relative;
  z-index: 0;

  color: #fff;
  font-size: 22px;
  text-align: center;

  height: 40px;
  width: 40px;
  padding: 8.5px 5px 5px 5px;
  border: 1px solid #fff;
  border-radius: 50%;

  margin: 0 10px;
  transition: 0.5s;
}

.header-icon::after {
  position: absolute;
  content: "";
  z-index: -10;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;

  background-color: #fff;
  color: #fff !important;
  border-radius: 50%;
  transition: 0.5s;
}

.header-icon:hover::after {
  width: 100%;
  height: 100%;
}

.header-icon:hover {
  color: #000;
}

/* ///////////////////////////////////// welcome ///////////////////////////////////// */

.main-container {
  background-image: url(images/background2.jpg);
  background-size: cover;

  height: 170vh;
  width: 100%;
}

.welcome {
  position: relative;

  height: 100vh;
  width: 100%;
}

.welcome-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.name {
  color: #fff;
}

.welcome-name {
  font-size: 25px;
  font-weight: 600;

  border: 0.25px solid #fff;
  width: fit-content;
  padding: 3px 7px;

  background-image: var(--main-gradient);
}

.name h1 {
  font-size: 68px;
}

#dynamic-text {
  border-right: 4px solid #fff;
  animation: blink 1.06s step-end infinite;
}

.meteorites {
  position: absolute;
  left: -130px;
  top:  -50px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meteorites img {
  width: 100px;
  height: 50px;
  margin: 50px 0;

  animation: meteor 15s linear infinite;
}

@keyframes blink {
  50% { border-color: transparent;}
}

.image .welcome-image {
  animation: bounce 3s linear infinite;
}

@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-15px);
  }
  50%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(15px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes meteor {
  0%{
    opacity:0;
    transform: translate(90vw, 0);
  }
  20%{
    opacity:1;
  }
  70%{
    opacity:1;
  }
  100%{
    transform: translate(10vw, 400px);
    opacity: 0;
  }
}

.meteorites img:nth-child(1){
  animation-delay: 0s;
  width: 150px;
}
.meteorites img:nth-child(2){
  animation-delay: 6s;
}
.meteorites img:nth-child(3){
  animation-delay: 2s;
  width: 150px;
}
.meteorites img:nth-child(4){
  animation-delay: 13s;
  width: 70px;
}
.meteorites img:nth-child(5){
  animation-delay: 10s;
}
.meteorites img:nth-child(6){
  animation-delay: 0s;
  width: 130px;
}
.meteorites img:nth-child(7){
  animation-delay: 10s;
}
.meteorites img:nth-child(8){
  animation-delay: 8s;
  width: 90px;
}

@media (max-width:1100px) {
  .welcome-content{
    top: 30%;
  }
  .main-container{
    height: 120vh !important;
  }
  #skills {
    margin-top: -500px !important;
  }
}
@media (max-width:1023px) {
  .welcome-content{
    top: 50%;
    width: 100% !important;
    flex-direction: column !important;
    align-items: center;
  }
  .welcome-content .name {
    width: 100%;
    height: 400px;
  }
  .main-container{
    height: 150vh !important;
  }
  #skills {
    margin-top: 0px !important;
  }
}
@media (max-width:758px) {
  .image {
    margin-top: 50px;
  }

  .welcome-content {
    height: 600px;
    top: 50%;
  }
  .welcome-content .name {
    height: 600px;
  }
}
@media (max-width:500px) {
  .welcome-content {
    top: 50%;
  }
  .main-container{
    height: 230vh !important;
  }
  #skills{
    margin-top: 150% !important;
  }
  .welcome-content .image {
    margin-bottom: 200px;
  }
}
@media (max-width:380px) {
  .welcome-content {
    top: 60%;
  }
  .main-container{
    height: 300vh !important;
  }
  #skills{
    margin-top: 150%;
  }
  .welcome-content .image {
    margin-bottom: 200px;
  }
}
@media (max-width:280px) {
  .welcome-content {
    top: 60%;
  }
  .main-container{
    height: 300vh !important;
  }
  .welcome-content .name {
    height: 700px;
  }
  #skills{
    margin-top: 280% !important;
  }
}

/* ///////////////////////////////////// skills ///////////////////////////////////// */

.skills-container {
  border-radius: 15px;
}

.skills-title {
  font-size: 50px;
  padding: 30px 0;
}

.skill-slide {
  color: #fff;
  margin: 80px 0;
  text-align: center;
}

.skill-slide div {
  background-image: linear-gradient(to right, #161868, #214587, #1e98a8);
  border-radius: 50%;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.skill-slide h2 {
  background-color: #212529;
  margin: auto;
  width: 175px;
  height: 175px;
  line-height: 175px;
  border-radius: 50%;
}

@media (max-width:991px) {
  .skills-container{
    margin-top: 150px;
  }

  .main-container {
    height: 200vh;
  }
}

@media (max-width:475px) {
  .skills-container {
    margin-top: 275px;
  }
}

/* ///////////////////////////////////// profile ///////////////////////////////////// */

.profile-header {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.profile-header h2 {
  padding-top: 60px;
}

.group-btns {
  margin-bottom: 50px;
}

.profile-btns {
  position: relative;
  z-index: 2;
  background-color: #212529;
  border: 0.25px solid #fff;
  width: 300px;
  height: 50px;
  color: #fff;
}

.lft-btn {
  border-radius: 20px 0 0 20px;
}

.right-btn {
  border-radius: 0 20px 20px 0;
}

.profile-btns:focus {
  outline: none;
}

.profile-btns::before {
  position: absolute;
  content: "";
  z-index: -1;

  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  background-image: var(--main-gradient);
  opacity: 0;
  transition: 0.2s;
}

.profile-btns:focus::before {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.lft-btn:focus::before {
  opacity: 1;
  width: 100%;
  height: 100%;
  
  border-radius: 20px 0 0 20px;
}

.right-btn:focus::before {
  opacity: 1;
  width: 100%;
  height: 100%;

  border-radius: 0 20px 20px 0;
}

@media (max-width:991px) {
  .profile-btns {
    width: 100px;
  }
}

/* ///////////////////////////////////// projects ///////////////////////////////////// */

.projects-body {
  background-color: #000;
}

.projects-item {
  position: relative;
  width: 400px;
  height: 220px;
}

.projects-container img {
  width: 100%;
  height: 100%;
  border: 1px solid #242424;
  border-radius: 20px;
}

.img-overlay {
  position: absolute;
  
  top: 0;
  left: 0;

  width: 100%;
  height: 0;
  
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  opacity: 0;
  transition: 0.5s;
}

.projects-item:hover .img-overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.img-overlay-content p {
  font-weight: 100;
}

.img-overlay-content a {
  color: #1e98a8;
}

/* ///////////////////////////////////// contact ///////////////////////////////////// */

.contact-container {
  background-image: var(--main-gradient);
}

.contact-info {
  padding-top:50px;
}

.contact-inputs {
  margin: auto;
}

.contact-input {
  height: 50px;
  border-radius: 15px;
  border: 1px solid #fff;
  outline: none;

  width: 48%;
  margin: 10px 1%;
  
  background-color: transparent;
}

.contact-input::placeholder {
  font-weight: 600;
  color: #fff;
}

.contact-input:focus {
  background-color: #fff;
}

.contact-input:focus::placeholder {
  color: #5f5f5f;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.contact-msg {
  border-radius: 15px;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 200px;
  padding: 5px;
}

.contact-msg::placeholder {
  color: #fff;
  font-weight: 600;
}

.contact-msg:focus {
  background-color: #fff;
}

.contact-msg:focus::placeholder {
  color: #5f5f5f;
}

.submit {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  transform: translateY(50%);
}

.contact-submit-container {
  position: relative;
  background-image: var(--main-gradient);
  padding: 2px;
  border-radius: 15px;
  width: 40%;
  height: 65px;
}

.contact-submit {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 13px;
  padding: 5px;
  outline: none;
}

.contact-submit-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  border: none;
  border-radius: 10px;
  background-image: var(--main-gradient);
  color: #fff;

  height: 50px;
  width: 30%;
  padding: 10px;
}

@media (max-width:992px){
  .submit {
    flex-direction: column;
    transform: translateY(0);
  }
  .contact-submit-container {
    width: 80%;
  }
  .contact-img {
    width: 80%;
    margin-left: 100px !important;
  }
}
@media (max-width:555px){
  .contact-img img {
    width: 350px;
  }
  .contact-submit-container {
    width: 100%;
  }
  .contact-submit-btn {
    padding: 7px;
    font-size: 14px !important;
  }
  .contact-img {
    width: 80%;
    margin-left: 0 !important;
  }
}
@media (max-width:400px){
  .contact-submit-btn {
    padding: 7px;
    font-size: 12px !important;
  }
}

/* ///////////////////////////////////// footer ///////////////////////////////////// */

footer {
  background-image: url(./images/footer3.jpg);
  background-size: cover;
  height: 250px;
}

.footer-logo {
  margin-left: 20px;
}

.footer-copyright {
  text-align: end;
  margin-right: 20px;
}

html {
  scroll-behavior: smooth;
}
